# Data and Models
data/model_cache/
data/chromadb/
data/riscv-tests/
data/chunk_summaries.json

# Python artifacts
**/__pycache__/
*.pyc
.ipynb_checkpoints/

# Distribution specific logs
results/
!results/summary.md
!results/isa_results.md
